{% extends 'base.html' %}

{% block content %} 

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1 class="text-center">¡Bienvenido a mi primer blog!</h1>
            <br>
            <p>¡Hola! Mi nombre es Luis Rodriguez, vivo en Mendoza, tengo 32 años y estoy aprendiendo Python. Trabajo actualmente en el área de Access Management y creo que me ayudaría un boost tremendo dominar Python para implementar ideas interesantes en el trabajo y a nivel personal.</p>
            <p>En este proyecto utilicé Python, el framework Django, Bootstrap y muchas librerías tanto de Python como de Django. Quisiera que este fuese el primer proyecto de muchos para mejorar mis habilidades de codificación.</p>
        </div>
    </div>
</div>


{% endblock %}