{% extends 'base.html' %}

{% block content %} 
    <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">

        <main class="container">

            <div class="row g-5">
        
                <div class="col-md-12">
                    {% include "blogs/featured.html" %}
                </div>
        
            </div>

            <div class="row g-5 justify-content-center text-center ">
                <div class="col-md-8">
                    <h2 class="pb-4 mb-4 fst-italic border-bottom">
                        Artículos más recientes
                    </h2>
                    {% if lista_de_posts %}
                        {% for post in lista_de_posts %}
                            <article class="blog-post">
                                <h2 class="blog-post-title mb-1">
                                    <a href="{{ post.get_absolute_url }}" style="text-decoration: none" class="text-black">
                                        {{ post.titulo }}
                                    </a>
                                </h2>
                                <p class="blog-post-meta">{{ post.fecha_publicacion.date }}. {{post.autor}}</p>

                                <hr>
                                <p>{{ post.resumen }}</p>
                            </article>
                        {% endfor %}
                    {% else %}
                            <h1>No hay páginas aún</h1>
                    {% endif %}
                </div>

            </div>

        </main>
    </div>
{% endblock content %}