{% extends 'base.html' %}
{% load markdown_extras %}
{% load crispy_forms_tags %}

{% block content %} 
    <div class="row g-5 justify-content-start text-center ">
        <div class="col-md-9">
            <h2 class="pb-4 mb-4 bold border-bottom">Todos los mensajes</h2>
        </div>

        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>Mensaje de {{message.sender}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{message.content}}</p>
                        <a href="{%url 'message:Delete_message' message.id%}" class="btn btn-danger">Borrar</a>
                        <a href="{% url 'message:Messages' %}" class="btn btn-link">Regresar</a>
                    </div>
                </div>
            </div>
        </article>  
{% endblock content%}